<div class="skillSearch">
  <mat-tab-group class="tabs">
    <mat-tab label="Skills" class="skillsTab">
      <input class="searchBar" type="text" (keyup)="search($event)" placeholder="Search for skills...">
      <mat-selection-list #list (selectionChange)="selectionChange($event.option)" class="scrollable">
        <mat-list-option *ngFor="let skill of searchSkills" [value]="skill">
          {{skill.toLowerCase()}}
        </mat-list-option>
      </mat-selection-list>
      <button mat-stroked-button (click)="onNoClick()">Done</button>
    </mat-tab>
    
    <mat-tab label="Classes" class="classesTab">
      <mat-horizontal-stepper #stepper>
        <mat-step>
          <ng-template matStepLabel>Degrees</ng-template>
          <mat-selection-list #list class="scrollable" (selectionChange)="loadDocs($event.option)">
            <mat-list-option [value]="degree" *ngFor="let degree of degrees">
              {{degree}}
            </mat-list-option>
          </mat-selection-list>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Concentrations</ng-template>
            <mat-selection-list #list class="scrollable" (selectionChange)="getCourses($event.option)">
                <mat-list-option *ngFor="let concentration of concentrations" [value] = "concentration">
                  {{concentration}}
                </mat-list-option>
              </mat-selection-list>
              <!-- <div>
                <button (click)="clearArray()" mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div> -->
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Courses</ng-template>
            <mat-selection-list #list class="scrollable" (selectionChange)="courseSelection($event.option)">
                <!-- <mat-list-option *ngFor="let skill of searchSkills | slice:0:15" [value] = "skill"> -->
                <mat-list-option *ngFor="let course of courses" [value] = "course">
                  {{course}}
                </mat-list-option>
              </mat-selection-list>
              <!-- <div>
                <button (click)="clearArray2()" mat-button matStepperPrevious>Back</button>
              </div> -->
          </mat-step>
      </mat-horizontal-stepper>
      
      <button mat-stroked-button (click)="onNoClick()">Done</button>
    </mat-tab>
  </mat-tab-group>
</div>