
<div class="wrapper">
<!-- <mat-expansion-panel  [expanded]="true"> -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Admin Analytics
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="expansion">
    <div class= "frequencyChart">
        <div class="chartSize">
          <h2 class="h2Text">User Skills Frequency Chart</h2>
          <mat-divider></mat-divider>
          <canvas width="500" height="500" id="myChart"></canvas>
        </div>
        <div class="onTop">
        <mat-expansion-panel  style="width: 100%; margin: 0 auto; text-align: left">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Most Frequent Skills
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
              <div *ngFor= "let values of result">
                  <mat-list-item>
                    <div class="row">
                      <div class="column">{{values[0]}}</div>
                      <div class="column1">{{values[1]}}</div>
                    </div>
                  </mat-list-item>
              </div>
            </mat-list>
        </mat-expansion-panel>
      </div>
      </div>
  
    <div class="degreeChart">
        <h2 class="h2Text">User Degrees Frequency Chart</h2>
      <div class="chartSizeDegrees">
        <mat-divider></mat-divider>
        <canvas width="750" height="550" id="degreeChart"></canvas>
      </div>
    </div>
  </div>
  </mat-expansion-panel>
</div>


<div class="myTable">
    <mat-table #table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.position}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="degree">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Degree </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.degree}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="uid">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.uid}} </mat-cell>
        </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>


  

