.skillSearch{
  float: right;
  margin-right: 200px;
  margin-top: -400px;
  width: 400px;

}
h1{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.searchBar{
  width: 350px;
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 5px 5px 5px 25px;
}
