<img src="https://img3.stockfresh.com/files/k/kurhan/m/15/392402_stock-photo-business-handshake.jpg" alt="JobMatcher">

<div>
  <br>
  <div *ngIf='user.provider != "password"'>
    <h4 class="card-title">{{user.name}}</h4>
  </div>
  <div *ngIf='user.provider == "password"'>
    
    <div class= "yourSkills">
      <h1>Your Skills</h1>
      <mat-list>
        <mat-list-item class = "skillItem" *ngFor="let skill of dbSkills">
          {{skill}}
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
      <button mat-stroked-button class= "skillsButton" (click)="openSearchDialog()">+ more skills...</button>  

    </div>
    
  </div>
</div>
