.yourSkills{
  float: right;
  margin-right: 200px;
  margin-top: -400px;
  width: 400px;

}
h1{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.scrollable{
  min-height: 300px;
  height: 300px;
  overflow-y: scroll;
}

.skillsButton{
  margin-top: 15px;
}

.searchBar{
  width: 350px;
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 5px 5px 5px 25px;
}
