<div>
  <img src="user.image">
  <div *ngIf='user.provider != "password"'>
    <h4 class="card-title">{{user.name}}</h4>
  </div>
  <div *ngIf='user.provider == "password"'>
    <form [formGroup]="profileForm">
      <div class="form-group">
        <label>Your name</label>
          <input type="text" formControlName="name" required>
      </div>
    </form>
    <a (click)="save(profileForm.value)" class="btn btn-primary">Save</a>
  </div>
  <div>
    <button type="button" (click)="logout()" class="btn btn-link">Logout</button>
  </div>
</div>