.searchBar{
    //width: 975px;
    width: 95%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 10px;
    display: inline-block;
}

.wrapper{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.scrollable{
    margin-top: 5px;
    min-height: 600px;
    height: 600px;
    width: 100%;
    overflow-y: scroll;
    display: inline-block;
}

.scrollableYourSearch{
    width: 100%;
    min-height: 600px;
    height: 600px;
    overflow-y: scroll;
    display: inline-block;
}

.row{
    display: flex;
    width: auto;
    align-items: center;
    margin-bottom: 3px;
  }

.column {
    flex: 30%;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    overflow: scroll;
}

.column2{
    flex: 30%;
    padding:10px;
    background-color: rgb(245, 245, 245);
    
}
.column3{
    flex: 15%;
    padding:10px;
    background-color: rgb(245, 245, 245);
}
.column4{
    flex: 15%;
    padding:10px;
    background-color: rgb(245, 245, 245);
}

.seeMore {
    margin: auto;
    text-align: center;
}

.fa-heart-o{
    color: black;
}

.select{
    width: 100%;
    display: inline-block;
    margin-top: 25px;
}
.selectRow{
    display: flex;
    width: auto;
    align-items: center;
    margin-top: 3px;
  }

.firstSelectColumn{
    flex: 10%;
    padding: 10px;
}

.secondSelectColumn{
    flex: 80%;
    padding: 10px;
    text-align: left;
}

.fa-arrows-h{
    color: gray;
}

.switch{
    flex: 10%;
    padding: 10px;
    margin-bottom: 10px;
}

.thirdColumnSaved{
    flex: 70%;
    text-align: right;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: 10px;
}

.h3Text{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: gray;
}

.yourSearch{
    margin-top: 2%;
}

.generalSearch{
    margin-top: 2%;
}
