mat-card{
  max-width: 400px;
  //margin: 2em auto;
  text-align: center;
  align-self: right;
  float: right;
  margin-top: -20px;
}

.signin-content{
  padding: 60px 1rem;
}

.full-width-input{
  width: 100%;
}

img{
  width: 100%;
  height: 400px;
}

.welcomeText{
  margin-top: 50px;
  margin-left: 225px;
  width: 375px;
  float: left;
  font-size: 20px;
  padding-bottom: 225px;
}

.termsOfUse{
  height: 50px;
  width: 400px;
}
