<mat-toolbar>
  <mat-toolbar-row>
    <span>Job Matcher</span>
    <span class="nav-buttons"></span>
      <button mat-button routerLink="/admin">Admin</button>
      <button mat-button routerLink="/faculty">Faculty</button>
      <button mat-button routerLink="/jobLanding">Matches</button>
      <button mat-button routerLink="/user">Profile</button>
      <button mat-button routerLink="/login">Login</button>
      <button mat-stroked-button color="primary" (click)="logout()">Logout</button>
      <button mat-stroked-button color="secondary" routerLink="/register" (click)="delete()">Delete Account</button>
  </mat-toolbar-row>
</mat-toolbar>
